@use "colors";

$min-screen-width: var(--min-screen-width);
$border: 1px solid colors.$border-color;

@mixin rounded {
	// @include border;
	@include shadow;

	overflow: hidden;
	border-radius: 0.5rem;
}

@mixin shadow {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin border {
	border: $border;
}
