$background: var(--background);
$secondary-background: var(--secondary-background);
$tertiary-background: var(--tertiary-background);
$quaternary-background: var(--quaternary-background);
$quinary-background: var(--quinary-background);

$primary: var(--primary);

$text: var(--text);
