@use "colors";
@use "responsive";

@import "css-variables";
@import "responsive";

body {
	margin: 0;
	background-color: colors.$background;
	color: colors.$text;
	font-family: "Work Sans", sans-serif;
}

@include responsive.max-sm {
	.small-hidden {
		display: none;
	}
}
