@use "colors";
$height: 22px;

.footerSize {
	height: $height;
	padding: 0.5rem;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	background-color: colors.$secondary-background;

	.flex {
		flex-grow: 1;
	}
}
