@use "responsive";
@use "variables";

$weekWidth: 6rem;
$weekWidthSmall: 3rem;

$cellMinWidth: 6rem;
$cellHeight: 5rem;

.wrapper {
	@include variables.rounded-lg;
	@include variables.shadow;

	overflow: auto;

	.table {
		@include responsive.max-md {
			font-size: small;

			th {
				width: $cellMinWidth;
				font-size: medium;
			}
		}

		th {
			&:first-child {
				@include responsive.max-md {
					width: $weekWidthSmall;
				}

				@include responsive.md {
					width: $weekWidth;
				}
			}
		}

		td {
			height: $cellHeight;
		}

		.today {
			background-color: rgb(0 0 0 / 10%);
		}
	}
}
