@use "variables";

.shift {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	border-bottom: variables.$border;

	&:last-child {
		border-bottom: unset;
	}

	.date {
		flex-grow: 1;
		margin-right: 2ch;
	}
}
