@use "colors";
@use "variables";
@use "responsive";

$padding: 10px;

.card {
	@include variables.rounded-lg;
	@include variables.shadow;

	display: inline-block;
	background-color: colors.$tertiary-background;

	@include responsive.max-sm {
		width: 100%;

		.title {
			text-align: center;
		}
	}

	.title {
		padding: $padding;
		border-bottom: variables.$border;
		margin: 0;
		background-color: colors.$secondary-background;
		font-size: 1.5em;
	}

	.padding {
		padding: $padding;
	}
}
