@use "colors";
@use "variables";
@use "responsive";

.styledTable {
	@include variables.rounded;

	width: 100%;
	background-color: colors.$tertiary-background;
	border-spacing: 0;
	table-layout: fixed;

	thead tr th,
	tbody tr td {
		border-right: variables.$border;
		border-bottom: variables.$border;

		&:last-child {
			border-right: unset;
		}
	}

	thead {
		background-color: colors.$secondary-background;

		tr {
			th {
				padding: 0.5rem 0;

				@include responsive.sm {
					padding: 1rem 0;
				}
			}
		}
	}

	tbody {
		tr {
			td {
				height: 6rem;
				padding: 0 0.2rem;
				text-align: center;
			}

			&:last-child {
				td {
					border-bottom: unset;
				}
			}
		}
	}
}
