@use "colors";
@use "sass:math";

$width: 36px;
$padding-x: 3px;
$padding-y: 2px;
$slider-padding: 3px;
$slider-size: math.div($width, 3);

.switcher {
	display: flex;
	align-items: center;
	cursor: pointer;

	.text {
		margin-right: 1ch;
	}

	.wrapper {
		position: relative;
		width: $width;
		padding: $padding-y $padding-x;
		border: 0;
		background-color: colors.$button-background;
		border-radius: $width;

		.slider {
			width: $slider-size;
			height: $slider-size;
			padding: $slider-padding;
			background-color: colors.$tertiary-background;
			border-radius: 100%;
			transition: transform 0.3s;
		}
	}
}

// Dark Mode

:global .dark :local {
	.wrapper {
		.slider {
			transform: translateX(
				$width - $padding-x * 2 - $slider-padding * 2 - $slider-size
			);
		}
	}
}
